body {
  font-family: Helvetica;
}

.heading {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3rem;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 6.4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(4);
}

.player-info {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
}

.field {
  border: 1px solid #000;
  padding: 1rem;
  width: 20px;
  text-align: center;
  box-sizing: border-box;
  position: relative;
}

.symbol {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.player-win {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
}
